
// 1. Configuration
@import
  'scss/math/variables',
  'scss/math/core';
// 3. Layout-related sections
@import
  'scss/layout/res',
  'scss/layout/layout',
  'scss/helpers/helpers';
// 2. Base stuff
@import 
  'scss/base/Inter/stylesheet',
  'scss/base/Opensans/stylesheet';
// 4. Components [input,button,forms,tables,divs]
.ffam_inter {
  font-family: "Inter";
}
.ffam_opensans {
  font-family: "Open Sans";
}
// 5. Page-specific styles [Page scoped files]

// 6. MEDIA-specific styles portrait and landscape

@media (orientation: portrait), (max-width: 1000px) {
  $bodywidth: 100vw;

  .good_display {
    background-color: rgba(255, 255, 255, 0.86);
  }

  #root {
    overflow-x: hidden;
    min-height: 100vh;
  }

  .mobilehide {
    display: none;
  }

  html {
    font-size: 1rem;
    background: #e6e6e6;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .box {
    transition: none !important;
  }

  input,
  textarea {
    // font-family: unset;
    font-weight: unset;
    font-size: 1rem;
    appearance: unset;
    border: unset;
    outline: unset;
    width: unset;
    resize: none;
    max-width: 100%;
    box-sizing: border-box;
  }

  .row > input {
    width: 50%;
  }

  .mobilecorebox_x100 {
    min-width: unset !important;
    width: 100% !important;
    max-width: 100%;
  }

  .mob_100 {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  .desktophide {
    display: none;
  }

  input[type="checkbox"]:hover {
    border: 1px solid red;
  }

  html {
    overflow-x: hidden;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-45deg, rgb(252.5, 252.5, 255), rgb(255, 252.5, 252.5));
    -webkit-overflow-scrolling: touch;
  }

  .div_sp_0 {
    // background-image: url(./assets/svg/pattern_0_white.svg) ;
    background-repeat: repeat;
    background-size: 16rem auto;
    filter: brightness(0.26);
  }
}
